<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appoderfood">

    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS " />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppOderFood">
        <activity android:name=".SuaMonAnActivity"
            android:theme="@style/PopUpActivity"
            android:label="@string/suamonan"
            >

        </activity>
        <activity
            android:name=".SuaLoaiMonAnActivity"
            android:theme="@style/PopUpActivity"
            android:label="@string/sualoaimonan"
            >

        </activity>
        <activity
            android:name=".SuaBanAnActivity"
            android:label="@string/suabanan"
            android:theme="@style/PopUpActivity">

        </activity>
        <activity android:name=".ThanhToanActivity">

        </activity>
        <activity
            android:name=".ThemSoLuongActivity"
            android:label="@string/themsoluong"
            android:theme="@style/PopUpActivity">

        </activity>
        <activity
            android:name=".ThemLoaiThucDonActivity"
            android:label="@string/loaithucdon"
            android:theme="@style/PopUpActivity">

        </activity>
        <activity android:name=".ThemThucDonActivity" />
        <activity
            android:name=".ThemBanAnActivity"
            android:label="@string/thembanan"
            android:theme="@style/PopUpActivity" />
        <activity
            android:name=".TrangChuActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".DangNhapActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DangKyActivity" />
    </application>

</manifest>